// Variables

// Colors
$white: #ffffff;
$background-grey: #F5F5F5;
$border-grey: #ebebeb;
$light-grey: #E5E5E5;
$text-grey: #838383;
$grey: #c4c4c4;
$black: #333333;
$green: #75ac2a;
$text-black: #232323;
$background-black: #232323;
$background-red: #f8d0c8;